In [1]:
import pandas as pd

In [5]:
test_ground = {'Dates': ['2010-06-17', '2011-06-17', '2012-06-17']}

df = pd.DataFrame(test_ground)

In [6]:
df

        Dates
0  2010-06-17
1  2011-06-17
2  2012-06-17

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [8]:
# Converting
DD.Dates = pd.to_datetime(DD.Dates)

# Checking the change
DD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dates   3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 156.0 bytes